@media (min-width: 861px) {
    #page {
        display: grid;
        width: 100%;
        max-width: 1110px;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        grid-template-columns: 160px 1fr 312px;
        grid-template-areas:
            "profile feed relations"
            "profile feed relations"
            "profile feed relations";
    }
    #page > #profile {
        padding: 16px;
        grid-area: profile;
        height: 100%;
    }

    #page > #profile > #info {
        display: grid;
<<<<<<< HEAD
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info h3{
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info p{
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info > #photo {
=======
>>>>>>> teste
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffffc4;
        border-radius: 8px;
    }

<<<<<<< HEAD
=======
    #page > #profile > #info h3{
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info p{
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info > #photo {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

>>>>>>> teste
    #page > #profile > #info > #photo > img {
        border-radius: 8px;
    }
}

@media(max-width: 860px) {
    #page {
        display: grid;
        width: 100%;
        max-width: 500px;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "profile profile"
            "feed feed"
            "relations relations";
    }
    #page > #profile {
        display: grid;
        padding: 16px;
        grid-area: profile;
        height: 100%;
    }

    #page > #profile > #info {
        display: grid;
        margin-left: auto;
        margin-right: auto;
<<<<<<< HEAD
=======
        background-color: #ffffffc4;
        border-radius: 8px;
>>>>>>> teste
    }

    #page > #profile > #info h3{
        margin-left: auto;
        margin-right: auto;
    }

    #page > #profile > #info p{
        margin-left: auto;
        margin-right: auto;
    }
    #page > #profile > #info > #photo {
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
}

#page > #feed {
    border-radius: 8px;
    grid-area: feed;
    background-color: #68466bc4;
}

#page > #relations {
    border-radius: 8px;
    grid-area: relations;
}

#page > #relations p{
    border-radius: 8px;
    background-color: #ffffffc4;
}
