* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* body {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    min-height: 96vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;
}

* body .halfTop {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

* body .halfTop .userDiv {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* body .halfTop .userDiv #avatarUser {
    max-width: 150px;
    min-width: 150px;
    border-radius: 50%;
}

* body .halfTop span {
    margin-top: 8px;
    font: 600 25px "Maven Pro", sans-serif;
    color: #fff;
}

* body .halfTop .myReply {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid #ffffff;

    align-items: center;
    text-align: center;

    margin-left: 12%;

    width: 23%;
    height: 150px;
}

* body .halfTop .favoriteAsk {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-right: 1px solid #ffffff;

    width: 23%;
    height: 150px;
}

* body .halfTop .myAsk {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 23%;
    height: 150px;
}

* body .halfBottom {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

* body .halfBottom .trophy {
    margin-left: 3%;
    margin-top: 7%;

    font: 600 25px "Maven Pro", sans-serif;
    color: #fff;

    background-color: rgba(255, 255, 255, 0.36);

    width: 25%;
    min-height: 20vh;
    max-height: 20vh;

    text-align: center;
}

* body .halfBottom .aboutMe {
    margin-left: 16%;
    margin-top: 7%;

    font: 600 25px "Maven Pro", sans-serif;
    color: #fff;

    background-color: rgba(255, 255, 255, 0.36);

    width: 50%;
    min-height: 30vh;
    max-height: 30vh;

    text-align: center;
}

* body .halfBottom button {
    margin-left: 3%;
    margin-top: 20%;

    max-width: 25px;
    max-height: 25px;

    border: 0;

    background: transparent;

    cursor: pointer;
}
* body .halfBottom img {
    max-width: 30px;
    max-height: 30px;
}

/* Propriedades das imagens */

* body .halfTop #myReplyft {
    max-width: 100px;
}
* body .halfTop #myAskft {
    max-width: 100px;
}
* body .halfTop #favoriteAskft {
    max-width: 100px;
}
